In [1]:
import pandas as pd
import numpy as np

# Load data

In [2]:
train_values = pd.read_csv('../data/train_values.csv', index_col='building_id')
train_values.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,0
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,0

In [3]:
train_labels = pd.read_csv('../data/train_labels.csv', index_col='building_id')
train_labels.head()

             damage_grade
building_id
802906                  3
28830                   2
94947                   3
590882                  2
201944                  3

# Explore features

In [4]:
# Categorical columns = 
categorical_columns = [c for c in train_values.select_dtypes(include=['object'])]
for c in categorical_columns:
    print(c)

land_surface_condition
foundation_type
roof_type
ground_floor_type
other_floor_type
position
plan_configuration
legal_ownership_status

In [5]:
numerical_columns = list(set(train_values.columns) - set(categorical_columns))
numerical_columns

['has_secondary_use_institution',
 'has_superstructure_mud_mortar_brick',
 'has_secondary_use_health_post',
 'geo_level_1_id',
 'area_percentage',
 'has_superstructure_rc_non_engineered',
 'has_superstructure_adobe_mud',
 'has_secondary_use_other',
 'has_superstructure_timber',
 'has_secondary_use_use_police',
 'has_superstructure_cement_mortar_brick',
 'has_superstructure_bamboo',
 'has_secondary_use_school',
 'has_superstructure_rc_engineered',
 'has_superstructure_cement_mortar_stone',
 'has_superstructure_mud_mortar_stone',
 'has_superstructure_stone_flag',
 'count_families',
 'has_secondary_use_agriculture',
 'geo_level_3_id',
 'has_secondary_use_hotel',
 'age',
 'has_superstructure_other',
 'has_secondary_use_rental',
 'height_percentage',
 'count_floors_pre_eq',
 'has_secondary_use_industry',
 'geo_level_2_id',
 'has_secondary_use',
 'has_secondary_use_gov_office']

In [6]:
train_values.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,0
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,0

### Drop duplicates

In [7]:
duplicate_index_mask = train_values.index.duplicated(keep='first')
train_values = train_values[~duplicate_index_mask]
train_labels = train_labels[~duplicate_index_mask]

### Drop the index column

In [8]:
# Drop building_id (index) from X and y
train_values.reset_index(drop=True, inplace=True)
train_labels.reset_index(drop=True, inplace=True)
# Convert y to a Series instead of a DataFrame
train_labels = train_labels['damage_grade']

In [9]:
# convert geo data to categorical
def fixup_geo_data(data):
    geo_cols = ['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id']
    for c in geo_cols:
        data[c] = data[c].astype('object')
fixup_geo_data(train_values)

## Split the data

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(train_values, train_labels, train_size=0.8, test_size=0.2, random_state=0)

All possible values from all categorical columns are present in the train set

## Encode categorical values

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder, TargetEncoder

In [12]:
def build_preprocessor_drop_cat():
    return ColumnTransformer(
    transformers=[
        ('cat', 'drop', categorical_columns),
        ('numerical', 'passthrough', numerical_columns),
    ])

def build_preprocessor_ordinal_enc():
    # Preprocessing for categorical data
    categorical_transformer = Pipeline(steps=[
        ('ordinal', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1))
    ])

    # Bundle preprocessing pipeline
    return ColumnTransformer(
        transformers=[
            ('cat', categorical_transformer, categorical_columns),
            ("numerical", "passthrough", numerical_columns),
        ])

def build_preprocessor_target_enc():
    # Preprocessing for categorical data
    categorical_transformer = Pipeline(steps=[
        ('target', TargetEncoder(target_type='continuous'))
    ])

    # Bundle preprocessing pipeline
    return ColumnTransformer(
        transformers=[
            ('cat', categorical_transformer, categorical_columns),
            ("numerical", "passthrough", numerical_columns),
        ])

In [13]:
preprocessors = dict(
    drop_cat=build_preprocessor_drop_cat(),
    enc_cat=build_preprocessor_ordinal_enc(),
    target_enc=build_preprocessor_target_enc())

In [18]:
# for preprocessing the data
#from sklearn.preprocessing import StandardScaler

# the model
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=100, random_state=57)

In [19]:
def fit_model_via_pipeline(pipeline, model):
    clf = Pipeline(
       steps=[('preprocessor', pipeline),
              ('model', model)])

    clf.fit(X_train, y_train)
    score = clf.score(X_valid, y_valid)
    print(f"Evaluated model score: {score}")
    return clf

In [20]:
fitted_models = {}
for key in preprocessors:
    model = fit_model_via_pipeline(preprocessors[key], random_forest)
    fitted_models[key] = model

Evaluated model score: 0.5576063390955661
Evaluated model score: 0.39151205847930776
Evaluated model score: 0.5678133573799429

In [17]:
preprocessor_eval_results = [(key, fitted_models[key].score(X_valid, y_valid)) for key in fitted_models]

ValueError: X has 30 features, but SGDClassifier is expecting 38 features as input.

In [ ]:
# TODO - determine the preprocessor with the highest score
results_by_score = list(sorted(preprocessor_eval_results, key=lambda x:x[1], reverse=True))
#best_preprocessor_key = results_by_score[0]
best_preprocessor_key = 'target_enc'
print(f"The best preprocessor: {best_preprocessor_key}")

clf = fitted_models[best_preprocessor_key]

The best preprocessor: target_enc

# Prediction on validation data

In [ ]:
preds_valid = clf.predict(X_valid)

In [ ]:
from sklearn.metrics import f1_score
print(f"Score on validation data: {f1_score(y_valid, preds_valid, average='micro')}")

Score on validation data: 0.723604689088851

# Prediction on test data

In [ ]:
X_test = pd.read_csv('../data/test_values.csv', index_col='building_id')
# Drop building_id (index)
X_test.reset_index(drop=True, inplace=True)
fixup_geo_data(X_test)

In [ ]:
preds_test = clf.predict(X_test)

# Results submission

In [ ]:
X_test = pd.read_csv('../data/test_values.csv', index_col='building_id')
# Drop building_id (index)
X_test.reset_index(drop=True, inplace=True)

In [ ]:
submission_format = pd.read_csv('../data/submission_format.csv', index_col='building_id')
my_submission = pd.DataFrame(data=preds_test,
                             columns=submission_format.columns,
                             index=submission_format.index)
my_submission.head()

             damage_grade
building_id
300051                  3
99355                   2
890251                  2
745817                  2
421793                  3

In [ ]:
my_submission.to_csv('submission.csv')